html {
    height: 100%;
    width: 100%
}

body {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
    overflow: hidden;
    display: block;
    height: 100%;
}

#main-container-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.yellow-button {
    background: #cfb53b;
    padding: 8px 5px 8px 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    border-color: white;
    width: 120px;
    margin-right: 10px;
}

.postButtons {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

textarea {
    margin-top: 10px;
}