.blogTite{
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.postAuthor{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    font-family: Abel;
    font-size:25px;
    font-weight: normal;
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
}

.Text{
    margin-left:30px;
    margin-right:30px;
}

.redButton {
    background-color:rgb(224, 15, 50);
    width:100px;
    cursor: pointer;
    border: none;
    color: white;
    padding:5px ;
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
    margin-bottom:15px;
    

  }

